<div class="reasons">
    <h3>¿QUE TIPO DE AYUDA NECESITAS?</h3>
</div>
<mat-tab-group mat-align-tabs="center" class="container">
    <mat-tab label="Liquidez" >
        <h3>¿Necesitas liquidez?</h3>
        <p>Para la Obtención de Liquidez te pondremos en contacto con un Socio Iversionista. </p>
        <h3>¿Como Funciona?</h3>
        <p>Ingresa la Información de tu negocio, y será contactado con un Socio Capitalista que esre interesado en
            otorgar la liquidez requerida para su negocio, es importante ingresar el porcentaje de utilidad que ofrece a
            su nuevo socio por la inyección de Capital, esto lo hara atractivo y atraeraal socio que necesita.
        </p>
        <div>
            <button mat-stroked-button color="primary" routerLink="/liquidity" >Publicar</button>
        </div>
    </mat-tab>
    <mat-tab label="Realizar un traspaso">
        <h3>¿Necesitas Traspasar tu Negocio?</h3>
        <p>Para Transpasar tu negocio te ponemos en contacto con la gente interesada.</p>
        <h3>¿Como Funciona?</h3>
        <p>Ingresa los datos y caracteristicas basicas de tu negocio para que miles de personas se interesen en tu
            negocio, solicitando contacto contigo, conociendo a los interesados, podras dar mas detalles y cerrar el
            trato que esperas.</p>
        <div>
            <button mat-stroked-button color="primary" routerLink="/sale" >Publicar</button>
        </div>
    </mat-tab>
    <mat-tab label="Vender Equipamiento">
        <h3>¿Necesitas Vender Equipamiento de tu Negocio?</h3>
        <p>Si te quedaste con el equipo y Mobiliario de tu Negocio que has decidido cerrar, puedes publicar la venta de
            dicho equipamiento y te ponemos en contacto con la gente interesada en adquirir tus activos:Mobiliario y/o
            Equipo. </p>
        <h3>¿Como Funciona?</h3>
        <p>Ingresa los datos y Mobiliario y/o Equipo de tu negocio para que miles de personas encuentren lo que
            necesitan, solicitarán contactar contigo y comenzaran la oferta. </p>
        <div>
            <button mat-stroked-button color="primary" routerLink="/sale-equipment" >Publicar</button>
        </div>
    </mat-tab>
</mat-tab-group>