.container {
    width: 100%;
    padding-right: 60px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
}

.mat-form-field {
    margin-top: 16px;
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }

  .reasons{
      padding: 10px;
      text-align: center;
  }