<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formLogin" (ngSubmit)="formLogi()" >
          <h1>Bienvenido a SUN</h1>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Ingresa tu correo electronico" formControlName="email">
            <mat-error>
              Por favor!!! ingresa tu correo correctamente
            </mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Ingresa tu contraseña" formControlName="password">
            <mat-error>
              Por favor!!! ingresa tu contraseña correctamente
            </mat-error>
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <mat-card-actions>
            <button
                mat-raised-button
                color="primary"
                class="login-button">
                Iniciar Sesión
              </button>
          </mat-card-actions>
          <p class="form--login__links">
            <a routerLink="/user/register">No tengo usuario: darme de alta</a> <br>
            <a routerLink="/user/register">He olvidado mi contraseña</a>
        </p>
        </form>
      </mat-card-content>
    </mat-card>
  </div>