.containers .mat-form-field  {
  margin-left: 8px;
}

.main-container {
  width: 100%;
  padding-right: 60px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display:block;
}

h3{
  text-align: center;
}

p{
  text-align: justify;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.submitBtnContainer {
  text-align: center;
  max-width: 440px;
  margin: 0 auto;
  width: 100%;
}