<div class="main-container">
    <h3>Venta de Equipo</h3>
    <p>¿Necesitas Vender Equipamiento de tu Negocio?
        <span>Si te quedaste con el equipo y Mobiliario de tu Negocio que has decidido cerrar, puedes publicar la venta
            de dicho equipamiento y te ponemos en contacto con la gente interesada en adquirir tus activos:Mobiliario
            y/o Equipo.
        </span>
    </p>
    <h3>¿Como Funciona?</h3>
    <span>Ingresa los datos y Mobiliario y/o Equipo de tu negocio para que miles de personas encuentren lo que
        necesitan, solicitarán contactar contigo y comenzaran la oferta.</span>
</div>
<form [formGroup]="formSale">
    <div class="main-container">
        <div class="form-row">
            <div class="form-group col-md-4">
                <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                    <mat-label>Nombre del Negocio</mat-label>
                    <input matInput #input maxlength="10" placeholder="Nombre de tu negocio"
                        formControlName="nombreNegocio">
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Tipo de Negocio</mat-label>
                    <mat-select formControlName="tipoNegocio">
                        <mat-option value="option">Option</mat-option>
                        <mat-option value="option">Option1</mat-option>
                        <mat-option value="option">Option2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                    <mat-label>Monto Total del Mobiliario</mat-label>
                    <input matInput #input maxlength="10" placeholder="$ 100,000.00" formControlName="montoTotal">
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                <mat-label>¿Ubicación del Negocio?</mat-label>
                <input matInput #input maxlength="10" placeholder="Jalisco" formControlName="ubicacion">
            </mat-form-field>
        </div>
        <div class="form-group ">
            <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                <mat-label>Describe o Lista el Mobiliario y/o Equipo a vender</mat-label>
                <textarea matInput placeholder="Lista del Mobilario" formControlName="descripcion"></textarea>
            </mat-form-field>
        </div>

        <div class="submitBtnContainer">
            <button mat-stroked-button color="primary" class="btn guardar" (click)="consultar()">Guardar</button>
        </div>
    </div>
</form>